@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
 
body{
  margin: 0;
  padding: 0  ;
  height: 100%;
  font-family: 'Nunito', 'sans-serif';
}
 

.mainHeader{
  display: flex;
  height: 8vh;
  margin: 0;
 
  background-image: url("./images/fon.jpg");
  background-size: cover; /* Растягивает картинку, чтобы она заполнила весь фон */
  background-position: center; 
  margin-bottom: 10px;
  
}

.mainHeader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  background-color: rgba(0, 0, 0, 0.5); /* Здесь можно изменить уровень прозрачности */
  z-index: -1
}
.mainHeader a  {
  font-size: 20px;
  text-decoration: none;
  margin-left: 40px;
   
  padding: 10px;
 
  color: white;
}
 
.mainHeader a:hover{
  background-color: rgb(255, 255, 255, 0.3);
  

}
.content{
  background-color: rgb(255, 255, 255);
  display:flex;
  height: 89vh;
  margin: 0 5vh;
}
 
.search {
  flex: 3;
  width: 30%;
  box-sizing: border-box;
  
  height: 100%;
  padding-right: 5px;
  resize: horizontal; /* Позволяет изменять ширину только по горизонтали */
  
}

.recipes {
  overflow: auto;
  height: 100%;
  flex: 7;
  width: 70%; 
  box-sizing: border-box;
  padding: 10px;
  background-color: rgb(255, 255, 255);
 
}
.searchInput{
  width: 100%; /* Здесь мы растягиваем input на всю ширину блока search */
  box-sizing: border-box;
  height: 30px;
  font-size: 20px;
 
}
.allProducts{
  overflow: auto;
  height: 88%;
}
.allProductsAdded{
  overflow: auto;
  height: 80%;
  
  background-color: rgb(244, 244, 244);
  
}
.ingToAdd{
  
  height: 50%;
  background-color: rgb(244, 244, 244);
 
}
.productDiv{
  margin-top: 7px;
}
.product{
   
  padding-left: 10px;
}
.addedIng{
   
  height:48%;
  
 
}
.addedIng h3{
  padding-left: 10px;
  
}
.addButton, .product {
  display: inline;
}
.addButton {
  float: right;
  border: 0;
  border-radius: 10px;
  margin-right: 10px;
  border: 1px solid rgb(244, 244, 244); 
  cursor: pointer;
}
.addButton:hover {
  background-color: white;
  border: 1px solid rgb(0, 0, 0); 
}

.recipeImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.recipeImgBlock{
  width: 100px;  
  height: 100px;  
  overflow: hidden;
}
.recipe{
  display: flex;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: rgb(244, 244, 244);
  border: 1px solid black;
}
.recipeDesc, .recipeIng{
  margin-left: 10px;
}
.recipeHeader{
  display: flex;
  width: 100%;
  background-color: rgb(244, 244, 244);
  margin-bottom: 5px;
  
}
.recipeHeader a{
  padding: 10px;
  white-space: nowrap;
}

.checkbox{
  margin-right: 10%;
  margin-bottom: 15px;
}
.searchAllInput{
   width: 200px;
  height: 30px;
  font-size: 20px;
  
}